{{ define "styles/styles" }}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h1, h3 {
    font-weight: bold;
    margin-bottom: 0.75em;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}


.error {
    margin: 1em;
    padding: 1em;
    border: 3px solid #0271c2;
    border-radius: 5px;
}

.hidden {
    display: none;
}

button, a.button {
    margin-top: 0.75em;
    text-decoration: none;
    font-size: 14px;
    padding: 0.8em 3em;
    font-weight: bold;
    background-color: #0271c2;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #0271c2;
    cursor: pointer;
}

.btn-secondary {
    background-color: transparent !important;
    border: 2px solid #0271c2 !important;
    color: #0271c2 !important;
}

button:hover, a.button:hover {
    background-color: #015fa4;
    border-color: #015fa4;
}

{{ end }}
