{{ define "styles/styles" }}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'uncut-sans';
    color: var(--color-accent-a);
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--color-background);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: var(--color-primary);
    font-family: 'pilowlava';
}

h2 {
    color: var(--color-primary);
    font-family: 'space-grotesk';
}

h3 {
    color: var(--color-accent-a);
    font-family: 'space-grotesk';
}

code {
    font-family: 'space-mono';
}

a {
    color: var(--color-highlight)
}

h1, h2, h3, p {
    margin-bottom: 0.75em;
}


.error {
    margin: 1em;
    padding: 1em;
    border: 3px solid var(--color-primary);
    border-radius: 5px;
}

.hidden {
    display: none;
}

button, a.button {
    margin-top: 0.75em;
    text-decoration: none;
    font-size: 14px;
    padding: 0.8em 3em;
    font-weight: bold;
    background-color: var(--color-primary);
    color: var(--color-highlight);
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    cursor: pointer;
}

input[type="text"] {
    margin-top: 0.75em;
    font-size: 14px;
    padding: 0.8em 1em; /* Match button padding height */
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid var(--color-primary); /* Match button border */
    outline: none;
    width: 100%; /* Optional: adjust width as needed */
    max-width: 300px; /* Prevent it from being too wide */
    box-sizing: border-box; /* Ensure padding fits inside width */
}

input[type="text"]:focus {
    border-color: var(--color-highlight); /* Highlight border on focus */
    box-shadow: 0 0 5px var(--color-primary); /* Add a subtle glow */
}

.btn-secondary {
    background-color: transparent !important;
    border: 2px solid var(--color-primary) !important;
    color: var(--color-primary) !important;
}

{{ end }}
