{{ define "views/connect" }}
<!DOCTYPE html>
<html lang="en">
{{ template "components/head" }}
<head>
    <style>
        .qrcode {
            max-width: 90%;
            padding: 2em;
        }

        .qrcode > img {
            max-width: 100%;
        }

        .copy-container {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>famigraph</h1>
    <p><b>Warning</b>: you can only use the QR-Code once! You will need to reload the page afterwards.</p>
    <div class="qrcode">
        <img src="{{ .qrcode }}" alt="QR Code">
    </div>
    <div class="copy-container">
        <input type="text" id="copyBox" value="{{ .signedURL }}" disabled/>
        <button id="copyBtn" onclick="copyText()">Copy</button>
    </div>
    <div style="padding-top: 0.75em">
        <a href="/" class="button">Home</a>
        <button onclick="window.location.reload()">Reload</button>
    </div>
    <script>
        // TODO: refactor
        function copyText() {
            const inputBox = document.getElementById('copyBox');
            inputBox.select();
            inputBox.setSelectionRange(0, 99999); // For mobile devices
            navigator.clipboard.writeText(inputBox.value)
                .then(() => {
                    document.querySelector('#copyBtn').innerText = 'Copied!';
                    setTimeout(() => {
                        document.querySelector('#copyBtn').innerText = 'Copy';
                    }, 1000);
                })
                .catch(err => console.error('Failed to copy text: ', err));
        }
    </script>
</div>
</body>
</html>
{{ end }}