{{ define "views/connect" }}
<!DOCTYPE html>
<html lang="en">
{{ template "components/head" }}
<head>
    <style>
        .qrcode {
            max-width: 90%;
        }

        /* Dark mode styles */
        @media (prefers-color-scheme: dark) {
            .qrcode {
                filter: invert(1);
            }
        }
    </style>
</head>
<body>
<div class="container">
    <h1>famigraph</h1>
    <img src="{{ .qrcode }}" class="qrcode" alt="QR Code">
    <a href="{{ .signedURL }}">sharable link</a> <!--TODO: create a copy paste field here -->
</div>
</body>
</html>
{{ end }}