{{ define "views/handshake/success" }}
<html lang="en">
{{ template "components/head" }}
<head>
</head>
<body>
<div class="container">
    <h1>famigraph</h1>
    <div>
        <h2>CONNECTION SUCCEDED</h2>
        <a href="/" class="button">Home</a>
    </div>
</div>
</body>
</html>
{{ end }}

{{ define "views/handshake/failed" }}
<html lang="en">
{{ template "components/head" }}
<head>
</head>
<body>
<div class="container">
    <h1>famigraph</h1>
    <div>
        <h2>CONNECTION FAILED</h2>
        <p>Maybe you are already connected?</p>
        <p>You are not connected? Try again with a new QR-Code (use the Reload button)</p>
        <a href="/" class="button">Home</a>
        <button onclick="window.location.reload()">Retry</button>
    </div>
</div>
</body>
</html>
{{ end }}