{{ define "views/login" }}
<html lang="en">
{{ template "components/head" }}
<head>
</head>
<body>
<div class="container">
    <h1>famigraph</h1>
    <h2>LOGIN</h2>

    <div class="error hidden">
        <h3>ERROR</h3>
        <p class="error__message"></p>
        <p class="error__details"></p>

        <button onclick="login()">try again</button>
        <a href="/register" class="button btn-secondary">register instead</a>
    </div>

    <script>{{ template "js/base64" }}</script>
    <script>{{ template "js/util" }}</script>
    <script>{{ template "js/login" }}</script>
</div>
</body>
</html>
{{ end }}